.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: auto;
  flex-wrap: wrap;
}

.my-masonry-grid_column {
  padding-left: 30px;
  background-clip: padding-box;
}

@media screen and (max-width: 768px) {
  .my-masonry-grid_column {
    padding: 0 5px;
  }
}
